<div class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>
    <div class="col-md-9 col-lg-10 ml-md-auto px-0">
      <!-- main content -->
      <main class="container-fluid dashboard">
        <div
          class="jumbotron jumbotron-fluid rounded bg-white border-0 shadow-sm border-left px-4"
        >
          <div class="container">
            <h1 class="display-4 mb-2 text-primary">Pathways Coming Soon</h1>
            <p class="text-muted">
              Smoking Cessation History & Interview ⏬ ● 5 As ⏬ ○ Ask about
              tobacco use ⏬ ■ Ask if ever used tobacco ■ Ask about all tobacco
              products (cigarettes, chew, e-cigarettes) ■ Frequency, amounts,
              products ■ Previous quitting attempts, duration, and outcomes ■
              How soon after awakening do you smoke your first cigarette? (> or
              < 30 minutes?) ○ Advise quitting ⏬ ■ Even brief advice (<5 min)
              can increase abstinence rates ○ Assess readiness to quit ⏬ ■
              Stages of change paradigm ⏬ ● Pre-contemplative → motivational
              interviewing to create and amplify discrepancy between current
              behaviour and future goals ● Contemplative ● Preparation ● Action
              ● Maintenance ○ Assist those ready ⏬ ■ Establish quit date ■
              Address barriers ● Withdrawal (see Pharmacologic management) ●
              Triggers to smoking ● It is often important to ask if spouse or
              others living in the home also smoke ○ Arrange follow up or refer
              to local program (see Behavioural Management) ■ Follow up in 1-2
              wk ○ Inquire re: caffeine intake ■ Nicotine can increase the
              metabolism of caffeine ■ Those who quit smoking are often
              recommended to decrease caffeine consumption by 50% or they may
              mistake the effects of caffeine for nicotine withdrawal ● OHIP
              Billing pearls (for MDs only) ⏬ ○ E079 (out of basket): Initial
              discussion with patient regarding smoking cessation. Can be billed
              with most primary care codes but cannot be billed with K030. Can
              be billed once/year ○ K039 (out of basket): Smoking cessation
              follow up visit. Can be billed twice within two months of billing
              an E079. Must include documentation of the 5As. Management ⏬ ●
              Only if at contemplative stage or higher ● Combination of
              behavioural & pharmacologic most effective ● Behavioural ⏬ ○
              Individual counselling ■ FHT to quit ● Patients who are part of
              the Peterborough Family Health Team can access smoking cessation
              services through the FHT to quit program ● Patients will
              participate in a counselling and treatment program led by
              pharmacists and are eligible to receive up to ____ weeks of free
              nicotine replacement therapy ● Patients can self-refer - details
              here. ○ Group counselling ■ Do we have any examples of support for
              this locally? ○ Text based ○ Mobile apps ■ QuitGuide: tracks
              cravings, motivational messaging ■ quitSTART: games and challenges
              ○ Resources for patients ■ Smokers Helpline website ● Cost savings
              calculator ● Plan generator ● Peer resources ○ Coping strategies
              ⏬ ■ Exercise ■ No-smoking zones ■ Behavioural Distraction
              (repetitive or simple activities/tasks such as knitting/doodling)
              ■ Cognitive Distraction (make to-do lists etc) ■ Oral strategies
              (chew gum) ■ Positive self-talk and visualisation ■ Remember the
              benefits of quitting ○ Stress management and relaxation ●
              Pharmacologic ⏬ ○ Nicotine replacement therapy (NRT) ⏬ ■ This
              includes both long acting therapies (i.e: nicotine patch) or short
              acting (i.e: nicotine gum, lozenges, inhaler) ■ The goal is to
              provide a continuous small amount of nicotine to patients to
              decrease symptoms of withdrawal ● Irritability ● Low mood ●
              Cravings ● Difficulty concentrating ■ Can use NRT if patients are
              still smoking but patients should need to decrease # of cigarettes
              ■ Nicotine Patch ⏬ ● Provides maintenance dose of nicotine
              through the day ● Encouraged to put patch on the night before quit
              date ● Evidence suggests that concurrent use of patch with fast
              acting NRT is more effective (ex: gum, lozenge, inhaler) ●
              Initiation Dosing: ○ < 10 cigs/day - start with 14 mg patch ○
              10-29 cigs/day - start with 21 mg patch ○ > 29 cigs a day - start
              with 21 mg + 7 mg patch ● Follow Up Monitoring ○ If patient has
              quit, continue current dose ○ If patient still smoking ■ 10 +
              cigs/day - add 21 mg patch to current dose ■ 6-9 cigs/day - add 14
              mg patch to current dose ■ 1-5 cigs/day - add 7 mg to current dose
              ● Treatment duration: ○ Best results for those using NRT for 8-12
              weeks ○ Suggest a taper with decrease no more than 7 mg/week and
              monitor for withdrawal symptoms ○ May need to hold at a specific
              dose if withdrawal symptoms recur ■ Nicotine Gum ⏬ ● Available in
              2 mg or 4 mg formulations ○ Consider 4 mg gum if patients smoking
              first cigarette within 30 minutes of waking ● Chew 1 piece every
              1-2 hours and increase interval as weeks progress ● Proper Use:
              “Chew and park” ○ Bite down until you feel tingling in mouth, then
              “park” gum inside of cheek ○ Repeat this chew and park process
              until tingling stops (~ 30 minutes) ■ Nicotine Lozenges ⏬ ●
              Available in 2 mg or 4 mg formulations ○ Consider 4 mg lozenge if
              patients smoking first cigarette within 30 minutes of waking ●
              Recommend 1 lozenge every 1-2 hours and increase interval as weeks
              progress ● Proper Use: ○ Place lozenge in mouth, occasionally
              moving from side to side ○ Allow it to slowly dissolve over 20-30
              minutes ○ Do not chew or swallow lozenge ■ Nicotine Inhaler ●
              Typically patients will use 6-16 cartridges/day the gradually
              reduce ● Proper Use: ○ Bring mouthpiece to mouth and inhale deeply
              ○ Each cartridge lasts about 20 minutes ○ Bupropion ■
              Contraindications: ● History of seizures ● Current treatment with
              MAO inhibitor ● History of bipolar disorder (exercise caution) ●
              History of eating disorder (exercise caution) ■ Establish a quite
              date then start at 150 mg PO qdaily x 3-5 days 10 days before set
              date ■ If tolerated, increase dose to 150 mg PO BID ■ Can be
              combined with NRT but limited evidence for success in quitting ○
              Varenicline ■ Partial nicotine agonist ■ Most effective medication
              for smoking cessation ■ Exercise caution in patients with history
              of seizure ■ Safe for use in patients with stable psychiatric
              conditions ■ Quit date should no longer than 4 weeks into
              treatment ■ Dosing ● Treatment duration: 12 weeks ● If successful,
              consider continuing treatment for another 12 weeks ■ Side effects:
              nausea, constipation, flatulence, increased/vivid dreams ● If
              intolerable, consider decrease to dose ● Other ⏬ ○ Acupuncture &
              Hypnosis have limited evidence ■ Some anecdotal effects from the
              relaxation ○ e-Cigarettes & vaping References ⏬ UpToDate Suls JM,
              Luger TM, Curry SJ, Mermelstein RJ, Sporer AK, An LC. Efficacy of
              smoking-cessation interventions for young adults: a meta-analysis.
              Am J Prev Med. 2012 Jun;42(6):655-62. doi:
              10.1016/j.amepre.2012.02.013. PMID: 22608385; PMCID: PMC3653592.
              https://www.cdc.gov/tobacco/campaign/tips/quit-smoking/quit-smoking-medications/how-to-use-quit-smoking-medicines/how-to-use-nicotine-gum.html#:~:text=Nicotine%20gum%20is%20not%20like%20regular%20chewing%20gum.&text=Hold%20it%20for%20about%20a,the%20gum%20in%20your%20mouth.
              https://www.nicorette.com/usage-science/nicorette-gum/ How to Use
              Nicorette Lozenge (n.d.). Retrieved November 18, 2022, from
              https://www.nicorette.com/usage-science/nicorette-lozenge/
              https://www.nicorette.ca/products/inhaler Acknowledgements Date of
              last revision: Date of next revision:
            </p>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
