<div
  class="col-md-3 col-lg-2 px-0 position-fixed h-100 bg-white shadow-sm sidebar"
  id="sidebar"
>
  <h4
    style="cursor: pointer"
    class="text-primary d-flex my-4 justify-content-center"
    (click)="routePage('inner-dashboard')"
  >
    <img src="assets/img/logo.png" style="height: 25%; width: 25%" />
  </h4>
  <h5 class="text-primary d-flex justify-content-center">
    <p>{{ fullName }}</p>
  </h5>
  <div class="list-group rounded-0">
    <a
      (click)="routePage('inner-dashboard')"
      class="list-group-item list-group-item-action border-0 d-flex align-items-center"
      [class.active]="
        currentPage == '/admin-dashboard' || currentPage == '/user-dashboard'
      "
    >
      <span
        class="bi bi-border-all"
        [class.bi-white]="
          currentPage == '/admin-dashboard' || currentPage == '/user-dashboard'
        "
      ></span>
      <span class="ml-2"> Dashboard</span>
    </a>
    <a
      (click)="routePage('account')"
      class="list-group-item list-group-item-action border-0 d-flex align-items-center"
      [class.active]="currentPage == '/account'"
    >
      <span
        class="bi bi-person"
        [class.bi-white]="currentPage == '/account'"
      ></span>
      <span class="ml-2">My Account</span>
    </a>
    <div *ngFor="let pathway of pathwaysList">
      <a
        (click)="routePage(pathway.pathway)"
        class="list-group-item list-group-item-action border-0 d-flex align-items-center"
        [class.active]="currentPage == '/' + pathway.pathway"
      >
        <span
          class="bi bi-text-center"
          [class.bi-white]="currentPage == '/' + pathway.pathway"
        ></span>
        <span class="ml-2">{{ pathway.pathway }}</span>
      </a>
    </div>
    <a
      (click)="routePage('users')"
      class="list-group-item list-group-item-action border-0 d-flex align-items-center"
      [class.active]="currentPage == '/users'"
      *ngIf="isAdmin == 'true'"
    >
      <span
        class="bi bi-check-all"
        [class.bi-white]="currentPage == '/users'"
      ></span>
      <span class="ml-2">Grant Access to Users</span>
    </a>
    <a
      (click)="logout()"
      class="list-group-item list-group-item-action border-0 d-flex align-items-center"
    >
      <span class="bi bi-box-arrow-right"></span>
      <span class="ml-2">Logout</span>
    </a>
  </div>
</div>
