<div class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>
    <div class="col-md-9 col-lg-10 ml-md-auto px-0">
      <!-- main content -->
      <main class="container-fluid dashboard">
        <div
          class="jumbotron jumbotron-fluid rounded bg-white border-0 shadow-sm border-left px-4"
        >
          <div class="container">
            <h1 class="display-4 mb-2 text-primary">
              Dental Pain (Odontalgia)
            </h1>
            <div class="text-muted">
              <div class="accordion" id="parentAcc">
                <div class="accordion-item">
                  <h2 class="accordion-header" [id]="'child1Hea'">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#child1Coll'"
                      aria-expanded="true"
                      [attr.aria-controls]="'child1Coll'"
                    >
                      History & Physical
                    </button>
                  </h2>
                  <div
                    [id]="'child1Coll'"
                    class="accordion-collapse collapse"
                    [attr.aria-labelledby]="'child1Hea'"
                    data-bs-parent="#parentAcc"
                  >
                    <div class="accordion-body">
                      <div class="accordion" id="child1Acc">
                        <li>
                          Most dental pain can be managed with referral to
                          dentist + analgesia
                        </li>

                        <div class="accordion-item">
                          <h2 class="accordion-header" [id]="'child1child1hea'">
                            <button
                              class="accordion-button"
                              type="button"
                              data-bs-toggle="collapse"
                              [attr.data-bs-target]="'#child1child1coll'"
                              aria-expanded="true"
                              [attr.aria-controls]="'child1child1coll'"
                            >
                              Ruleout
                            </button>
                          </h2>
                          <div
                            [id]="'child1child1coll'"
                            class="accordion-collapse collapse"
                            [attr.aria-labelledby]="'child1child1hea'"
                            data-bs-parent="#child1Acc"
                          >
                            <div class="accordion-body">
                              <ul>
                                <li>Sinusitis</li>
                                <li>Cluster headaches</li>
                                <li>TMJ dysfunction</li>
                                <li>Trigeminal neuralgia</li>
                                <li>Herpes zoster</li>
                                <li>Aphthous ulcer</li>
                                <li>Parotiditis/sialolith</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" [id]="'child1child2hea'">
                            <button
                              class="accordion-button"
                              type="button"
                              data-bs-toggle="collapse"
                              [attr.data-bs-target]="'#child1child2coll'"
                              aria-expanded="true"
                              [attr.aria-controls]="'child1child2coll'"
                            >
                              Analgesia + referral to dentist
                            </button>
                          </h2>
                          <div
                            [id]="'child1child2coll'"
                            class="accordion-collapse collapse"
                            [attr.aria-labelledby]="'child1child2hea'"
                            data-bs-parent="#child1Acc"
                          >
                            <div class="accordion-body">
                              <ul>
                                <li>
                                  Pain exacerbated by cold or osmotic stimuli
                                  (i.e: sweets or acids)
                                </li>
                                <li>
                                  Pain with biting with/without visible swelling
                                  of gums
                                </li>
                                <li>Chronic pain</li>
                                <li>
                                  dentist may choose to give antibiotics at time
                                  of treatment, but not necessary to give in
                                  primary care pre-referral
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h2 class="accordion-header" [id]="'child1child3hea'">
                            <button
                              class="accordion-button"
                              type="button"
                              data-bs-toggle="collapse"
                              [attr.data-bs-target]="'#child1child3coll'"
                              aria-expanded="true"
                              [attr.aria-controls]="'child1child3coll'"
                            >
                              Antibiotics + Analgesia + referral to dentist
                            </button>
                          </h2>
                          <div
                            [id]="'child1child3coll'"
                            class="accordion-collapse collapse"
                            [attr.aria-labelledby]="'child1child3hea'"
                            data-bs-parent="#child1Acc"
                          >
                            <div class="accordion-body">
                              <ul>
                                <li>
                                  Tooth extremely tender when palpated or tapped
                                  + any of the following:
                                  <ul>
                                    <li>
                                      Severe spontaneous pain, relieved by cold
                                      & exacerbated by heat
                                    </li>
                                    <li>Night pain (pain worse when supine)</li>
                                    <li>
                                      Mild/moderate facial swelling +/- fever
                                    </li>
                                  </ul>
                                </li>
                                <li>
                                  If severely immunocompromised, this may lower
                                  the threshold for antibiotics and increase the
                                  urgency to see a dentist
                                </li>
                                <li>
                                  If unable to see dentist within a reasonable
                                  time this may also lower the threshold for
                                  antibiotics, use clinical judgment
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>

                        <br />
                        <li>Red Flags?</li>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" [id]="'child2Hea'">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#child2Coll'"
                      aria-expanded="true"
                      [attr.aria-controls]="'child2Coll'"
                    >
                      Management
                    </button>
                  </h2>
                  <div
                    [id]="'child2Coll'"
                    class="accordion-collapse collapse"
                    [attr.aria-labelledby]="'child2Hea'"
                    data-bs-parent="#parentAcc"
                  >
                    <div class="accordion-body">
                      <p>
                        Please note all medication doses but be corrected for
                        renal function.
                      </p>

                      <div class="accordion" id="child2Acc">
                        <div class="accordion-item">
                          <h2 class="accordion-header" [id]="'child2child1Hea'">
                            <button
                              class="accordion-button"
                              type="button"
                              data-bs-toggle="collapse"
                              [attr.data-bs-target]="'#child2child1Coll'"
                              aria-expanded="true"
                              [attr.aria-controls]="'child2child1Coll'"
                            >
                              Analgesia
                            </button>
                          </h2>
                          <div
                            [id]="'child2child1Coll'"
                            class="accordion-collapse collapse"
                            [attr.aria-labelledby]="'child2child1Hea'"
                            data-bs-parent="#child2Acc"
                          >
                            <div class="accordion-body">
                              <ul>
                                <li>
                                  Ibuprofen 400 mg PO QID prn
                                  <ul>
                                    <li>
                                      NSAIDs shown to be more effective in
                                      reducing pain than opioid analgesics and
                                      have been recommended as first line
                                    </li>
                                  </ul>
                                </li>
                                <li>Tylenol 1000 mg PO QID prn</li>
                                <li>
                                  Topical Local Analgesics
                                  <ul>
                                    <li>
                                      Orajel - useful for
                                      gums/lacerations/ulcers
                                    </li>
                                  </ul>
                                </li>
                                <li>
                                  Opioids (i.e: Tylenol #3) May be considered
                                  for short term use only in severe acute pain,
                                  or if intolerance of NSAIDs
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h2 class="accordion-header" [id]="'child2child2Hea'">
                            <button
                              class="accordion-button"
                              type="button"
                              data-bs-toggle="collapse"
                              [attr.data-bs-target]="'#child2child2Coll'"
                              aria-expanded="true"
                              [attr.aria-controls]="'child2child2Coll'"
                            >
                              Antibiotic Management
                            </button>
                          </h2>
                          <div
                            [id]="'child2child2Coll'"
                            class="accordion-collapse collapse"
                            [attr.aria-labelledby]="'child2child2Hea'"
                            data-bs-parent="#child2Acc"
                          >
                            <div class="accordion-body">
                              <ul>
                                <li>
                                  Recommended Antibiotics
                                  <ul>
                                    <li>
                                      Amoxicillin 500 mg PO TID x 5 days
                                      <ul>
                                        <li>
                                          If first line treatment fails:
                                          <ul>
                                            <li>
                                              Add metronidazole 500 mg PO TID x
                                              7 days OR
                                            </li>
                                            <li>
                                              Discontinue Amoxicillin and Start
                                              Amoxicillin and Clavulanate
                                              500/125 mg TID x 7 days
                                            </li>
                                          </ul>
                                        </li>
                                      </ul>
                                    </li>
                                    <li>
                                      Allergy to penicillin
                                      <ul>
                                        <li>
                                          Clindamycin 300 mg PO QID x 3-7 days
                                        </li>
                                        <li>
                                          Cephalexin 500 mg PO QID x 3-7 days
                                        </li>
                                        <li>
                                          If treatment fails:
                                          <ul>
                                            <li>
                                              Add metronidazole 500 mg PO TID x
                                              7 days
                                            </li>
                                          </ul>
                                        </li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br />
                      <li>
                        Patient to contact general dentist’s office for
                        definitive care, workup, and appropriate follow up. See
                        Local Resources.
                      </li>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" [id]="'child3Hea'">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#child3Coll'"
                      aria-expanded="true"
                      [attr.aria-controls]="'child3Coll'"
                    >
                      Local Resources
                    </button>
                  </h2>
                  <div
                    [id]="'child3Coll'"
                    class="accordion-collapse collapse"
                    [attr.aria-labelledby]="'child3Hea'"
                    data-bs-parent="#parentAcc"
                  >
                    <div class="accordion-body">
                      <div class="accordion" id="child3Acc">
                        <div class="accordion-item">
                          <h2 class="accordion-header" [id]="'child3child1Hea'">
                            <button
                              class="accordion-button"
                              type="button"
                              data-bs-toggle="collapse"
                              [attr.data-bs-target]="'#child3child1Coll'"
                              aria-expanded="true"
                              [attr.aria-controls]="'child3child1Coll'"
                            >
                              For primary care providers only
                            </button>
                          </h2>
                          <div
                            [id]="'child3child1Coll'"
                            class="accordion-collapse collapse"
                            [attr.aria-labelledby]="'child3child1Hea'"
                            data-bs-parent="#child3Acc"
                          >
                            <div class="accordion-body">
                              <ul>
                                <li>
                                  The following dentists are willing to offer on
                                  call services for family physicians and nurse
                                  practitioners for complex cases requiring
                                  review
                                </li>
                                <li>
                                  Please note: these are personal cell phone
                                  numbers of dentists, please do not distribute
                                  these numbers to patients.
                                  <ul>
                                    <li>Dr. Jeremy Wageman</li>
                                    <li>? others who would agree</li>
                                  </ul>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h2 class="accordion-header" [id]="'child3child2Hea'">
                            <button
                              class="accordion-button"
                              type="button"
                              data-bs-toggle="collapse"
                              [attr.data-bs-target]="'#child3child2Coll'"
                              aria-expanded="true"
                              [attr.aria-controls]="'child3child2Coll'"
                            >
                              After Hours Dental Care
                            </button>
                          </h2>
                          <div
                            [id]="'child3child2Coll'"
                            class="accordion-collapse collapse"
                            [attr.aria-labelledby]="'child3child2Hea'"
                            data-bs-parent="#child3Acc"
                          >
                            <div class="accordion-body">
                              <ul>
                                <li>
                                  Patient to contact dentist’s office directly
                                  who can then redirect toon call dentist.
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h2 class="accordion-header" [id]="'child3child3Hea'">
                            <button
                              class="accordion-button"
                              type="button"
                              data-bs-toggle="collapse"
                              [attr.data-bs-target]="'#child3child3Coll'"
                              aria-expanded="true"
                              [attr.aria-controls]="'child3child3Coll'"
                            >
                              Peterborough Public Health Dental Clinic
                            </button>
                          </h2>
                          <div
                            [id]="'child3child3Coll'"
                            class="accordion-collapse collapse"
                            [attr.aria-labelledby]="'child3child3Hea'"
                            data-bs-parent="#child3Acc"
                          >
                            <div class="accordion-body">
                              <ul>
                                <li>
                                  Community Dental Health Clinic
                                  <ul>
                                    <li>
                                      This is only for patients covered by an
                                      existing government insurance plan (see
                                      below)
                                    </li>
                                    <li>
                                      Currently not accepting new patients.
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h2 class="accordion-header" [id]="'child3child4Hea'">
                            <button
                              class="accordion-button"
                              type="button"
                              data-bs-toggle="collapse"
                              [attr.data-bs-target]="'#child3child4Coll'"
                              aria-expanded="true"
                              [attr.aria-controls]="'child3child4Coll'"
                            >
                              Government Insurance Plans for Dental Care
                            </button>
                          </h2>
                          <div
                            [id]="'child3child4Coll'"
                            class="accordion-collapse collapse"
                            [attr.aria-labelledby]="'child3child4Hea'"
                            data-bs-parent="#child3Acc"
                          >
                            <div class="accordion-body">
                              <p>
                                Not all community dental practices accept
                                government insurance plans on a continuous
                                basis. Patients must contact dentists directly
                                re: coverage acceptance.
                              </p>
                              <div class="accordion" id="child3child4Acc">
                                <div class="accordion-item">
                                  <h2
                                    class="accordion-header"
                                    [id]="'child3child4child1Hea'"
                                  >
                                    <button
                                      class="accordion-button"
                                      type="button"
                                      data-bs-toggle="collapse"
                                      [attr.data-bs-target]="
                                        '#child3child4child1Coll'
                                      "
                                      aria-expanded="true"
                                      [attr.aria-controls]="
                                        'child3child4child1Coll'
                                      "
                                    >
                                      Healthy Smiles Ontario (HSO)
                                    </button>
                                  </h2>
                                  <div
                                    [id]="'child3child4child1Coll'"
                                    class="accordion-collapse collapse"
                                    [attr.aria-labelledby]="
                                      'child3child4child1Hea'
                                    "
                                    data-bs-parent="#child3child4Acc"
                                  >
                                    <div class="accordion-body">
                                      <ul>
                                        <li>
                                          Eligibility Criteria
                                          <ul>
                                            <li>
                                              Children of patients on ODSP and
                                              OW are automatically enrolled in
                                              the HSO program.
                                            </li>
                                            <li>Patients < 17 y.o</li>
                                            <li>
                                              Meet income eligibility
                                              requirements
                                            </li>
                                          </ul>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>

                                <div class="accordion-item">
                                  <h2
                                    class="accordion-header"
                                    [id]="'child3child4child2Hea'"
                                  >
                                    <button
                                      class="accordion-button"
                                      type="button"
                                      data-bs-toggle="collapse"
                                      [attr.data-bs-target]="
                                        '#child3child4child2Coll'
                                      "
                                      aria-expanded="true"
                                      [attr.aria-controls]="
                                        'child3child4child2Coll'
                                      "
                                    >
                                      Ontario Disability Support Program
                                    </button>
                                  </h2>
                                  <div
                                    [id]="'child3child4child2Coll'"
                                    class="accordion-collapse collapse"
                                    [attr.aria-labelledby]="
                                      'child3child4child2Hea'
                                    "
                                    data-bs-parent="#child3child4Acc"
                                  >
                                    <div class="accordion-body">
                                      <ul>
                                        <li>
                                          Patients receiving ODSP support and
                                          spouses (age 18+) may be eligible for:
                                          basic dental services or additional
                                          services if disability impacts oral
                                          health
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>

                                <div class="accordion-item">
                                  <h2
                                    class="accordion-header"
                                    [id]="'child3child4child3Hea'"
                                  >
                                    <button
                                      class="accordion-button"
                                      type="button"
                                      data-bs-toggle="collapse"
                                      [attr.data-bs-target]="
                                        '#child3child4child3Coll'
                                      "
                                      aria-expanded="true"
                                      [attr.aria-controls]="
                                        'child3child4child3Coll'
                                      "
                                    >
                                      Interim Federal Health Plan (Refugees)
                                    </button>
                                  </h2>
                                  <div
                                    [id]="'child3child4child3Coll'"
                                    class="accordion-collapse collapse"
                                    [attr.aria-labelledby]="
                                      'child3child4child3Hea'
                                    "
                                    data-bs-parent="#child3child4Acc"
                                  >
                                    <div class="accordion-body">
                                      <ul>
                                        <li>
                                          For emergency coverage only, no
                                          routine cleanings
                                        </li>
                                        <li>
                                          Must be pre-approved by Public Health
                                          Dental Clinic
                                        </li>
                                        <li>Up to $1000/year</li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>

                                <div class="accordion-item">
                                  <h2
                                    class="accordion-header"
                                    [id]="'child3child4child4Hea'"
                                  >
                                    <button
                                      class="accordion-button"
                                      type="button"
                                      data-bs-toggle="collapse"
                                      [attr.data-bs-target]="
                                        '#child3child4child4Coll'
                                      "
                                      aria-expanded="true"
                                      [attr.aria-controls]="
                                        'child3child4child4Coll'
                                      "
                                    >
                                      Ontario Seniors’ Dental Care Plan (Can
                                      only be seen in Public Health Dental
                                      Clinic)
                                    </button>
                                  </h2>
                                  <div
                                    [id]="'child3child4child4Coll'"
                                    class="accordion-collapse collapse"
                                    [attr.aria-labelledby]="
                                      'child3child4child4Hea'
                                    "
                                    data-bs-parent="#child3child4Acc"
                                  >
                                    <div class="accordion-body">
                                      <ul>
                                        <li>
                                          Free, routine dental services for low
                                          income seniors > 65 years of age
                                        </li>
                                        <li>
                                          Must not have additional government or
                                          private insurance
                                        </li>
                                        <li>
                                          Income requirement < $22,200/year
                                          (single) or < $37,100/year (couple)
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>

                                <div class="accordion-item">
                                  <h2
                                    class="accordion-header"
                                    [id]="'child3child4child5Hea'"
                                  >
                                    <button
                                      class="accordion-button"
                                      type="button"
                                      data-bs-toggle="collapse"
                                      [attr.data-bs-target]="
                                        '#child3child4child5Coll'
                                      "
                                      aria-expanded="true"
                                      [attr.aria-controls]="
                                        'child3child4child5Coll'
                                      "
                                    >
                                      Other
                                    </button>
                                  </h2>
                                  <div
                                    [id]="'child3child4child5Coll'"
                                    class="accordion-collapse collapse"
                                    [attr.aria-labelledby]="
                                      'child3child4child5Hea'
                                    "
                                    data-bs-parent="#child3child4Acc"
                                  >
                                    <div class="accordion-body">
                                      <ul>
                                        <li>
                                          Does Peterborough still have a Dental
                                          Treatment Assistance Fund?
                                        </li>
                                        <li>
                                          Lions Club in East City ???? - used to
                                          have Community Health Fund
                                          <ul>
                                            <li>Certain times in the year</li>
                                            <li>
                                              Community Betterment Committee
                                              (info@peterboroughlions.ca)
                                            </li>
                                            <li>
                                              Kiwanis Club - Peterborough
                                              (community service committee) -
                                              what do they offer?
                                            </li>
                                            <li>
                                              Rotary Club - Peterborough
                                              (service committee?) - what to
                                              they offer?
                                            </li>
                                          </ul>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" [id]="'child4Hea'">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#child4Coll'"
                      aria-expanded="true"
                      [attr.aria-controls]="'child4Coll'"
                    >
                      References
                    </button>
                  </h2>
                  <div
                    [id]="'child4Coll'"
                    class="accordion-collapse collapse"
                    [attr.aria-labelledby]="'child4Hea'"
                    data-bs-parent="#parentAcc"
                  >
                    <div class="accordion-body">
                      <p>
                        Lockhart PB, Tampi MP, Abt E, Aminoshariae A, Durkin MJ,
                        Fouad AF, Gopal P, Hatten BW, Kennedy E, Lang MS, Patton
                        LL, Paumier T, Suda KJ, Pilcher L, Urquhart O, O'Brien
                        KK, Carrasco-Labra A. Evidence-based clinical practice
                        guideline on antibiotic use for the urgent management of
                        pulpal- and periapical-related dental pain and intraoral
                        swelling: A report from the American Dental Association.
                        J Am Dent Assoc. 2019 Nov;150(11):906-921.e12.
                        <br /><br />
                        Oral analgesics for Acute Dental pain. American Dental
                        Association. (n.d.). Retrieved October 4, 2022, from
                        <br />
                        <a
                          class="link"
                          href="https://www.ada.org/resources/research/science-and-research-institute/oral-health-topics/oral-analgesics-for-acute-dental-pain "
                          target="_blank"
                          >https://www.ada.org/resources/research/science-and-research-institute/oral-health-topics/oral-analgesics-for-acute-dental-pain </a
                        ><br />

                        <br /><br />
                        Timmerman A, Parashos P. Management of dental pain in
                        primary care. Aust Prescr. 2020 Apr;43(2):39-44. Doi:
                        10.18773/austprescr.2020.010. Epub 2020 Apr 1. PMID:
                        32346209; PMCID: PMC7186276. >
                        <br /><br />
                        Wingfield T. Promoting dental health among high risk
                        groups. BMJ. 2015 Apr 21;350:h2065. doi:
                        10.1136/bmj.h2065. PMID: 25899002.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" [id]="'child5Hea'">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#child5Coll'"
                      aria-expanded="true"
                      [attr.aria-controls]="'child5Coll'"
                    >
                      Acknowledgements
                    </button>
                  </h2>
                  <div
                    [id]="'child5Coll'"
                    class="accordion-collapse collapse"
                    [attr.aria-labelledby]="'child5Hea'"
                    data-bs-parent="#parentAcc"
                  >
                    <div class="accordion-body">
                      <ul>
                        <li>Date of last revision:</li>
                        <li>Date of next revision:</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
