<div class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>
    <!-- overlay to close sidebar on small screens -->
    <div
      class="w-100 vh-100 position-fixed overlay d-none"
      id="sidebar-overlay"
    ></div>
    <!-- note: in the layout margin auto is the key as sidebar is fixed -->
    <div class="col-md-9 col-lg-10 ml-md-auto px-0">
      <!-- main content -->
      <main class="container-fluid dashboard">
        <div
          class="jumbotron jumbotron-fluid rounded bg-white border-0 shadow-sm border-left px-4"
        >
          <div class="container">
            <div class="container rounded bg-white mt-5 mb-5">
              <div class="row">
                <div
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <div class="container table-responsive py-5">
                    <h4 class="text-right">User Details</h4>
                    <div [ngClass]="className" *ngIf="!onComponentLoad">
                      <span
                        >{{ header ? header : "Error" }}!
                        {{ message ? message : "Internal Server Error" }}.</span
                      >
                    </div>
                    <table class="table table-bordered table-hover">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">First-Name</th>
                          <th scope="col">Last-Name</th>
                          <th scope="col">Email-ID</th>
                          <th scope="col">Mobile</th>
                          <th scope="col">Designation</th>
                          <th scope="col">Government-ID-Number</th>
                          <th scope="col">User-Approval-Status</th>
                          <th scope="col">Admin-Privileges</th>
                        </tr>
                      </thead>
                      <span *ngIf="userList.length == 0"
                        ><b>No-users-found</b></span
                      >
                      <tbody>
                        <tr *ngFor="let user of userList; let i = index">
                          <th scope="row">{{ i + 1 }}</th>
                          <td>{{ user.firstName }}</td>
                          <td>{{ user.lastName }}</td>
                          <td>{{ user.emailId }}</td>
                          <td>{{ user.mobile }}</td>
                          <td>{{ user.designation }}</td>
                          <td>{{ user.govtIDNumber }}</td>
                          <td
                            [style.color]="
                              user.approvalStatus == 'APPROVED'
                                ? 'green'
                                : user.approvalStatus == 'REJECTED'
                                ? 'RED'
                                : 'orange'
                            "
                          >
                            {{ user.approvalStatus }}
                            <!-- <br> -->
                            <i
                              *ngIf="
                                user.approvalStatus == 'PENDING' ||
                                user.approvalStatus == 'REJECTED'
                              "
                              class="bi-person-check-fill"
                              (click)="
                                updateUserApprovalStatus(
                                  user._id,
                                  'APPROVED',
                                  user.emailId
                                )
                              "
                            ></i>
                            <i
                              *ngIf="
                                user.approvalStatus == 'PENDING' ||
                                user.approvalStatus == 'APPROVED'
                              "
                              class="bi-x-square-fill"
                              (click)="
                                updateUserApprovalStatus(
                                  user._id,
                                  'REJECTED',
                                  user.emailId
                                )
                              "
                            ></i>
                          </td>

                          <td
                            [style.color]="
                              user.isAdmin == 'GRANTED'
                                ? 'green'
                                : user.isAdmin == 'DENIED'
                                ? 'RED'
                                : 'orange'
                            "
                          >
                            {{ user.isAdmin }}
                            <i
                              *ngIf="
                                user.isAdmin == 'PENDING' ||
                                user.isAdmin == 'DENIED'
                              "
                              class="bi-person-check-fill"
                              (click)="
                                updateGrantAdminAccess(
                                  user._id,
                                  'GRANTED',
                                  user.emailId
                                )
                              "
                            ></i>
                            <i
                              *ngIf="
                                user.isAdmin == 'PENDING' ||
                                user.isAdmin == 'GRANTED'
                              "
                              class="bi-x-square-fill"
                              (click)="
                                updateGrantAdminAccess(
                                  user._id,
                                  'DENIED',
                                  user.emailId
                                )
                              "
                            ></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
<ngx-loader-spinner></ngx-loader-spinner>
