<div class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>
    <div class="col-md-9 col-lg-10 ml-md-auto px-0">
      <!-- main content -->
      <main class="container-fluid dashboard">
        <section class="row">
          <div class="col-md-6 col-lg-6">
            <!-- card -->
            <article
              class="p-4 rounded shadow-sm border-left mb-4 tiles"
              style="margin-left: 3%; margin-right: 3%"
            >
              <a href="#" class="d-flex align-items-center">
                <span class="bi bi-person h5"></span>
                <h5 class="ml-2">Users</h5>
              </a>
            </article>
          </div>
          <div class="col-md-6 col-lg-6">
            <article
              class="p-4 rounded shadow-sm border-left mb-4 tiles"
              style="margin-left: 3%; margin-right: 3%"
            >
              <a href="#" class="d-flex align-items-center">
                <span class="bi bi-text-center h5"></span>
                <h5 class="ml-2">Pathways</h5>
              </a>
            </article>
          </div>
        </section>

        <div
          class="jumbotron jumbotron-fluid rounded bg-white border-0 shadow-sm border-left px-4"
        >
          <div class="container">
            <h1 class="display-4 mb-2 text-primary">
              User Dashboard - Coming Soon
            </h1>
            <p class="text-muted">
              “Happiness is nothing more than good health and a bad memory.” ~ Albert Schweitzer
            </p>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
